# MariaDB
MYSQL_ROOT_PASSWORD=*****
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=*****

# Nginx
DOMAIN=wordpress.cubinez.ru

# WordPress Admin (создан через веб-мастер)
WP_URL=wordpress.cubinez.ru/wp-admin/
WP_ADMIN_USER=cubinez85
WP_ADMIN_EMAIL=cubinez85@mail.ru
WP_ADMIN_PASSWORD=******

